@import "tailwindcss";


@theme {
    --color-base-back: #F7F6F2;
    --color-secondary-back: #F7F6F2;
    --color-primary: #A17856;
    --color-primary-dark: #4B2E19;
    --color-secondary: #8CA09B;
    --color-primary-header: #21211F;
    --color-primary-text: #56534D;
}
.swiper-pagination-bullet {
    background-color:  white !important;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background-color: #8CA09B !important;
    opacity: 1;
}
